Repository paulalex/JenkinsFileExample: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Service A, Build Service B, Build Service C

Build Service A:
        steps {
          echo "Building Service A"
        }
      

Build Service B:
        steps {
          echo "Building Service B"
        }
      

Build Service C:
        steps {
          echo "Building Service C"
        }
      

Amended file b
  service_b/b.txt
Due: Build Service B

Amended file a
  service_a/a.txt
Due: Build Service A

Printing the environment variables in smoke test stage
  Jenkinsfile
Due: none

Added matrix stage
  Jenkinsfile
Due: none

Added matrix stage
  service_a/a.txt
  service_c/c.txt
Due: Build Service A, Build Service C

Path conditions:
  Build Service A: any of: service_a/*
  Build Service B: any of: service_b/*
  Build Service C: any of: service_c/*
